GMAIL_SMTP_USER="ueremail@gmail.com"
GMAIL_SMTP_APP_PASSWORD="pass"
EMAIL_FROM="ueremail@gmail.com"
REDIS_URL="redis://127.0.0.1:6379"
PGDATABASE="new_DB"
PGHOST="localhost"
PGPASSWORD="password"
PGPORT=5433
PGUSER="postgres"
PRIVATE_BUNNY_ACCESSKEY="bunnyapikey"
storageZoneName="urstorage"
